name: PR Tests

on:
  pull_request:
    types: [opened, reopened, synchronize, edited]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'npm'

      - name: Run tests
        run: |
          for b in $(seq 1 10); do
            echo "================================================================"
            echo "Running with breaks $b"
            echo "================================================================"
            time env BREAKER=$b node_modules/.bin/jest --detectOpenHandles || echo "Well that failed"
          done
